__pycache__
settings.json
.vscode
followers_files/
following_files/
tempCodeRunnerFile.py
*.code-workspace
_.py

*.png
*.jpg
*.jpeg

private-*
private_*
temp-*
temp_*
temp.*
logs*
secret*

*.env
*.db
*.exe
*.log
*.html